* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
}

.imgContainer {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.welcomeScreen{
  display: flex;
  justify-content: center;
  color: #FFF;
  font-size: 50px;
}

.clock {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #FFF;
  font-size: 50px;
}

#myName span {
  color: #FFF;
  width: 200px;
  height: 50px;
}